body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
    color: rgb(92, 91, 91);
}
.h1-color{
    color: rgb(0, 153, 255);
}
.flex-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 2%;

}
.half-width img{
    width: 100%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(cyan,blue);
    padding: 10px 50px;
    color: white;
    font-weight: 500;
    border-radius: 20px;
}
div p{
    margin-bottom: 50px;
}
.bg-img1{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-position:left;
}
.paragraph{
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}
#last-heading{
    text-align: center;
}
.box{
    width: 30%;
    padding: 2%;
    box-shadow: 3px 3px 15px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    border-radius: 10px;
}
.Shape-img{
    border: 1px solid black;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.box-header{
    color: black;
}
.box-2{
    width: 92%;
    box-shadow: 2px 2px 10px;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 25px;
}
.inner-box{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.txt{
    margin-left: 5px;
    margin-top: 20px;
    width: 500px;
    height: 200px; 
}
.button-dz{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 10px;
    background-image: linear-gradient(cyan,blue);
    color: white;
}
form{
    margin-left: 10px;
}

footer h2{
    text-align: center;
    color: rgb(92, 91, 91);
}
footer p{
    text-align: center;
    color: white;
}
footer{
    background-color: black;
    padding: 20px;
}